.room-code{
    height: auto;
    border-radius: 8px;
    overflow: hidden;

    background: #fff;
    border: 1px solid #003049;
    cursor: pointer;

    display: flex;

    div{
        background: #003049;
        padding: 12px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span{
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 250px;
        font-size: 14px;
        font-weight: 500;
        font-weight: bold;
    }
}